<!DOCTYPE html>
<html>
<title>Index</title>
<head>
<style>
.myDiv 
  { 
    background-color: turquoise;
    text-align: left;
  }
p.a 
  {
    font-family: Arial Black, Arial, sans-serif:
  }

</style>
</head>
<body>
<div class="myDiv">
     <h1 class ="a">HELLO</h1>
     <p>Welcome to the web development course</p> 
     <!-- {{message}} -->
     <a href="file:///C:/Users/ROZE%20SUSAN/Desktop/WebDevAddOn/WebProject/templates/contact.html">Contact </a> 
     <a href="{% url 'login' %}">Login</a>
</div>
</body>
</html>